@import url('normalize.css');
@import url('fonts.css');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*контейнер для выравнивания контента на всей странице */
.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}



/*  стили для header*/
.header {
    background-color: transparent;
    position: absolute;
    margin-top: 20px;
    width: 100vw;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 40px;
    list-style-type: none;

}

.header__item:last-child {
    margin-right: 0;
}

.header__item:nth-child(even) {
    padding-right: 12px;
    background-image: url('../images/HeaderArrow.svg');
    background-repeat: no-repeat;
    background-position: right center;
}

.header__link {
    font-family: 'TTHovesMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #32495E;
    text-decoration: none;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
    opacity: .7;
    text-decoration: underline;

}



.header__item_popup {
    position: relative;

}

.header__submenu {
    padding: 0;
    width: max-content;
    list-style-type: none;
    position: absolute;
    right: 0;
    top: 100%;
    display: none;
}

.header__item_popup:hover .header__submenu {
    display: block;
}

.header__link-submenu {

    color: #32495E;
    font-family: 'TTHovesMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;

}

.header__item-submenu {
    padding: 10px;
}

.header__item-submenu:hover {

    background-color: #32495E;

}

.header__item-submenu:hover a {
    color: #F9F9F9;
}

@media(min-width:769px) {
    .header__logo-picadapt {
        display: none;
    }
}

@media(max-width:768px) {
    .header__logo-pic {
        display: none;
    }

    .header {
        background-color: #FFFFFF;
        position: fixed;
        margin-top: 0;
        width: 100vw;
    }
}