@import url('normalize.css');
@import url('fonts.css');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
p,
ul,
li,
h3 {
    margin: 0;
    padding: 0;
}


/*контейнер для выравнивания контента на всей странице */
.wrapper {
    max-width: 1170px;
    margin: 0 auto;

}



/*  стили для header*/
.header {
    background-color: transparent;
    position: absolute;
    margin-top: 20px;
    width: 100vw;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.header__logo {
    padding-left: 5%;
}



.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 39px;
    list-style-type: none;

}

.header__item:last-child {
    margin-right: 0;
}

.header__item:nth-child(even) {
    padding-right: 12px;
    background-image: url('../images/HeaderArrow.svg');
    background-repeat: no-repeat;
    background-position: right center;
}

.header__link {
    font-family: 'TTHovesMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #32495E;
    text-decoration: none;
}

/*Эффеты навигации ссылок-пунктов меню*/

.header__link:hover,
.header__link:focus,
.header__link:active {
    opacity: .7;
    text-decoration: underline;

}

/* Блок для выпадающего меню  в хедере*/

.header__item_popup {
    position: relative;

}

.header__submenu {
    padding: 0;
    width: max-content;
    list-style-type: none;
    position: absolute;
    right: 0;
    top: 100%;
    display: none;
}

.header__item_popup:hover .header__submenu {
    display: block;
}

.header__link-submenu {
    color: #32495E;
    font-family: 'TTHovesMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;

}

.header__item-submenu {
    padding: 10px;
}

/* эффеты при наведении для выпадающего меню*/


.header__item-submenu:hover {

    background-color: #32495E;

}

.header__item-submenu:hover a {
    color: #F9F9F9;
}



/* Главная страница*/

.main__glavnoe {
    min-height: fit-content;
    min-width: 100vw;
    background: no-repeat left bottom/25% url('../images/PictureOnRed.svg'),
        no-repeat right bottom/25% url('../images/PictureOnWhite.svg'),
        linear-gradient(to right, #E95258 50%, #F9F9F9 50%);

}

.container-flex {
    display: flex;
    flex-wrap: wrap;
}

.main__block-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    padding-right: 8%;

}

.main__block-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    padding-left: 8%;

}

.main__h1 {
    padding-top: 200px;
    padding-bottom: 50px;
    font-family: 'TTHovesExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 36px;
    text-align: right;
    text-transform: uppercase;
    color: #F9F9F9;
}

.main__text {

    padding-bottom: 12px;
    font-family: 'TTHovesDemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #F9F9F9;
}

.main__list {
    list-style-type: none;
    text-align: end;
    padding-bottom: 100px;
}

.main__list-right {
    list-style-type: none;
    text-align: start;
    padding-bottom: 100px;
}

.main__item::after {
    content: "○";
    color: white;
}

.main__item {
    padding-bottom: 12px;
}

.main__item-right {
    padding-bottom: 12px;
}

.main__item-right::before {
    content: "○";
    color: #32495E;
}

.main__link {
    font-family: 'TTHovesRegular';
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

}

.main__link_white {
    color: #F9F9F9;
}

.main__link_blue {
    color: #32495E;
}

/*кнопка с белым оформлением  и синим оформлением*/


.button_white {
    max-width: 190px;
    padding: 16px 35px;
    font-family: 'TTHovesMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #F9F9F9;
    background: transparent;
    border: 1px solid #F9F9F9;
    border-radius: 25px;
    text-decoration: none;
}

.button_white:hover,
.button_white:focus {
    background: white;
    color: #32495E;

}

.button_blue {
    max-width: 190px;
    padding: 16px 35px;
    font-family: 'TTHovesMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #32495E;
    background: transparent;
    border: 1px solid #32495E;
    border-radius: 25px;
    text-decoration: none;

}

.button_blue:hover,
.button_blue:focus {
    background: #32495E;
    color: white;
}

/*конец стили кнопок*/



.main__h1-right {
    padding-top: 200px;
    padding-bottom: 50px;
    font-family: 'TTHovesExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 36px;
    text-align: left;
    text-transform: uppercase;
    color: #32495E;
}

.main__text-rigt {
    padding-bottom: 12px;
    font-family: 'TTHovesDemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    color: #32495E;

}

/*блок мессенджеров*/
.messenger {
    display: flex;
    gap: 10px;
    margin-top: 5px;
    margin-left: 25%;
    margin-bottom: 4%;
}

.massenger__block {
    min-width: 50px;
    min-height: 50px;
    border-radius: 25px;
    border: 1px solid #FFFFFF;

}

.messenger__pic {
    display: block;
    max-width: 100%;
    margin: 25% auto;
}

/* начало заливка фона значов и подсветка границы)*/
.massenger__block_blue {
    background: #32495E;
    box-shadow: 0 0 10px #32495E;
}

.massenger__block_green {
    background: #14AC51;
    box-shadow: 0 0 10px #14AC51;

}

.massenger__block_violet {
    background: #C33A7C;
    box-shadow: 0 0 10px #C33A7C;
}

.massenger__block_lightblue {
    background: #4598FF;
    box-shadow: 0 0 10px #4598FF;
}

.massenger__block_red {
    background: #E95258;
    box-shadow: 0 0 10px #E95258;
}

/*эффекты при наведении*/
.massenger__block_red:hover {
    box-shadow: 0 0 20px red;
}

.massenger__block_blue:hover {
    box-shadow: 0 0 20px #32495E;
}

.massenger__block_lightblue:hover {
    box-shadow: 0 0 20px #4598FF;
}

.massenger__block_green:hover {
    box-shadow: 0 0 20px #14AC51;

}

.massenger__block_violet:hover {
    box-shadow: 0 0 20px #C33A7C;

}

/* конец заливка фона значов и подсветка границы)*/

/*секция специалисты*/

.section-spesialist {
    padding-bottom: 4%;
    background-color: #F9F9F9;
}

.section-spesialist__title {
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: TT Hoves;
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 52px;
    text-transform: uppercase;
    color: #32495E;
}

.grid {
    padding-left: 5%;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 225px);
}

.section-spesialist__text_big {
    font-family: 'TTHovesExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    color: #32495E;
    padding-bottom: 3%;
}


.section-spesialist__text_small {
    font-family: 'TTHovesRegular';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #32495E;

}

.section-spesialist__pic {
    max-width: 100%;
    padding-bottom: 10%;
}

.section-spesialist__button-position {
    display: block;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;

}

/* Секция прайс-заголовки*/

.section__title {
    font-family: 'TTHovesExtraBold';
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 3%;


}

.section__title_blue {
    color: #32495E;

}

.section__title_white {
    color: #F9F9F9;

}

.section-price {

    background: linear-gradient(to right,
            transparent 60%, #F3F5FA 10% 70%, transparent 10% 80%, #F3F5FA 10% 90%, transparent 10%);



}

.section__inner {
    padding: 4% 5%;
}

.table-price__head {
    text-align: left;
    font-family: 'TTHovesRegular';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #32495E;

}

.table-price__row {
    font-family: 'TTHovesRegular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #8093AC;

}

.table-price {
    width: 50%;
}

.table-price th {

    padding-bottom: 15%;
}

.table-price td {

    padding-bottom: 8%;

}

.container-flex_content {
    justify-content: space-between;
}

.table-price td:last-child {
    font-weight: 800;
    color: #32495E;
}

/* для секции фото*/
.section-foto {

    background: linear-gradient(to right,
            #32495E 60%, #49647D 10% 70%, #32495E 10% 80%, #49647D 10% 90%, #32495E 10%);
}

.section-foto__list {
    display: flex;
    list-style-type: none;
    gap: 40px;
    padding-bottom: 3%;
}

.section-foto__link {
    text-decoration: none;
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #F9F9F9;

}

.section-foto__link:hover {
    opacity: 0.8;
}


.foto-gridcontainer>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;


}

.section-foto__image {
    position: relative;
}

.section-foto__image p {
    position: absolute;
    bottom: 3%;
    left: 1%;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #F9F9F9;

    opacity: 0.8;
}

.foto-gridcontainer {
    display: grid;
    grid-template-columns: repeat(4, minmax(106px, 1fr));
    grid-template-rows: repeat(3, 1fr);
}


/* для секции тnews*/

.section-news__list {
    display: flex;
    list-style-type: none;
    gap: 40px;
    padding-bottom: 3%;
}

.section-news__link {
    text-decoration: none;
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #32495E;

}

.section-news__link:hover {
    opacity: 0.8;
}




/* адаптивность*/



@media screen and (min-width:1024px) {

    .header__logo-picadapt,
    .header__button {
        display: none;
    }

    .section__title_size {
        font-size: 44px;
        line-height: 52px;
    }

  


    }
   




@media screen and (max-width:1023px) {

    .header__logo-pic,
    .header__button {
        display: none;
    }

    .header {
        background-color: #FFFFFF;
        position: fixed;
        margin-top: 0;
        width: 100vw;
    }

    .header__nav {
        padding-right: 5%;
    }

    .main__h1-right,
    .main__h1 {
        font-size: 18px;
        line-height: 24px;
    }

    .main__text-rigt,
    .main__text {
        font-size: 12px;
        line-height: 15px;
    }

    .massenger__block {
        min-width: 40px;
        min-height: 40px;
    }

    .button_white,
    .button_blue {
        font-size: 12px;
        line-height: 15px;

    }

    .section-spesialist__title {
        padding-left: 5%;
        font-size: 34px;
    }

    .grid {
        padding-right: 5%;
        padding-left: 5%;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 215px;
    }

    .section-spesialist__cart_display {
        display: none;
    }

    /*для секции прайс и возможно следующих*/
    .section__title_size {
        font-size: 34px;
        line-height: 52px;
    }

    .section__inner {
        padding: 5% 5%;
    }

    .table-price_display {
        display: none;
    }

    .table-price {
        width: 60%;
    }


    .foto-gridcontainer {
        display: grid;
        grid-template-columns: repeat(4, minmax(106px, 1fr));
        grid-template-rows: repeat(2, 1fr);
    }

    .section-foto__image>p,
    .section-foto__image_tablet {
        display: none;
    }

}

@media screen and (max-width:767px) {

    /*адаптив хедер*/
    .header__nav {
        padding-right: 0;
    }

    .header {
        background-color: #FFFFFF;
        position: fixed;
        margin-top: 0;
        width: 100vw;
    }

    .header__list,
    .header__logo-pic {
        display: none;
    }

    .header__logo-picadapt {
        width: 110px;
        height: 30px;
    }

    .header__button {
        padding: 10px;
        display: block;
        min-width: 45px;
        min-height: 45px;
        background-color: #32495E;
        position: relative;

    }

    .header__menu-container {
        background-color: #32495E;
        display: none;
        padding: 0;
        position: absolute;
        top: 100%;
        right: -2px;
        min-width: 206px;
        min-height: 416px;

    }

    .header__list-mobile {
        padding: 60px 45px;

        margin: 0;

        list-style-type: none;




    }

    .header__link-mobile {

        font-family: 'TTHovesMedium';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #F9F9F9;
        text-decoration: none;

    }

    .header__item-mobile {

        padding-bottom: 25px;
        text-align: end;
    }

    .header__button-lang {
        min-width: 45px;
        min-height: 45px;
        font-style: normal;
        font-weight: 400;
        font-family: "TTHovesRegular";
        font-size: 14px;
        line-height: 20px;
        background-color: transparent;
        text-align: center;
        color: #F1F6FF;
        border: 1px solid #F1F6FF;
        border-radius: 5px;
    }

    .header__container-button_position {
        display: flex;
        gap: 10px;
        justify-content: end;
        margin-right: 45px;
    }

    .header__button:hover .header__menu-container {
        display: block;
    }

    .header__button-lang:hover {
        color: #455A75;
        background-color: #FFFFFF;

    }

    .header__link-mobile:hover {
        font-weight: 700;
        font-size: 14px;

    }

    /*адаптив для главного*/


    .messenger {
        display: none;
    }

    .main__glavnoe {
        min-height: fit-content;
        min-width: 100vw;


    }

    .container-flex {
        display: block;

    }

    .main__block-left {
        background-color: #E95258;
        display: flex;

        flex-direction: column;
        align-items: flex-start;
        min-width: 100%;
        padding-left: 5%;


    }

    .main__block-right {
        background-color: #F9F9F9;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-width: 100%;
        padding-left: 5%;

    }


    .main__h1 {
        padding-top: 75px;
        padding-bottom: 15px;
        font-family: 'TTHovesExtraBold';
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        text-transform: uppercase;
        color: #F9F9F9;
    }

    .main__text {

        padding-bottom: 25px;
        font-family: 'TTHovesDemiBold';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        text-align: left;
        color: #F9F9F9;
    }

    .main__list {
        list-style-type: none;
        text-align: left;
        padding-bottom: 30px;
    }

    .main__item::before {
        content: "○";
        color: white;
    }

    .button_white {
        max-width: 160px;
        padding: 12px 30px;
        font-family: 'TTHovesMedium';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #F9F9F9;
        background: transparent;
        border: 1px solid #F9F9F9;
        border-radius: 25px;
        margin-bottom: 30px;
    }

    .button_blue {
        max-width: 160px;
        padding: 12px 30px;
        font-family: 'TTHovesMedium';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #32495E;
        background: transparent;
        border: 1px solid #32495E;
        border-radius: 25px;
        margin-bottom: 30px;

    }


    .main__list-right {
        list-style-type: none;
        text-align: left;
        padding-bottom: 30px;
    }



    .main__item {
        padding-bottom: 8px;
    }

    .main__item-right {
        padding-bottom: 8px;
    }

    .main__h1-right {
        padding-top: 30px;
        padding-bottom: 15px;
        font-family: 'TTHovesExtraBold';
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        text-transform: uppercase;
        color: #32495E;
    }

    .main__text-rigt {
        padding-bottom: 25px;
        font-family: 'TTHovesDemiBold';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        text-align: left;
        color: #32495E;
    }



    .main__link {
        font-family: 'TTHovesRegular';
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;

    }

    .grid {
        padding-left: 5%;
        padding-right: 20%;
        display: block;

    }

    .section-spesialist__cart_display {
        display: none;
    }

    .section-spesialist__title {
        font-size: 18px;
        line-height: 26px;
    }

    .section-spesialist__text_big,
    .section-spesialist__text_small {
        font-size: 12px;
        line-height: 15px;

    }

    .section-spesialist__cart {
        padding-bottom: 10%;
    }

    /*для секции прайс и возможно следующих*/
    .section__title_size {
        font-size: 18px;
        line-height: 26px;
    }

    .section {

        background: none;

    }

    .table-price_display {
        display: none;
    }

    .table-price {
        width: 100%;
    }

    .table-price__row {

        font-size: 12px;
        line-height: 15px;


    }

    .section-foto__link, .section-news__link {
        font-size: 11px;
        line-height: 15px;

    }


    .foto-gridcontainer {
        display: grid;
        grid-template-columns: repeat(3, minmax(97px, 1fr));
        grid-template-rows: repeat(2, 1fr);
    }

    .section-foto__image>p,
    .section-foto__image_mobile,
    .section-foto__image_tablet {
        display: none;
    }

}